<aside class="sidebar bg-light">
    <div class="tab-content h-100" role="tablist">
        <!-- Create -->
        {% include 'sidebar/create.html' %}

        <!-- Friends -->
        {% include 'sidebar/friends.html' %}

        <!-- Chats -->
        {% include 'sidebar/chats.html' %}

        <!-- Notifications - Notices -->
        {% include 'sidebar/notices.html' %}

        <!-- Support -->
        {% include 'sidebar/support.html' %}

        <!-- Settings -->
        {% include 'sidebar/settings.html' %}

    </div>
</aside>